body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

label {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: #FF0000;
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
}

.website-buttons, .active-button {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 5px;
}

.website-buttons {
    background-color: #333;
}

.active-button {
    background-color: #777; /* Adjust color as needed */
    border: 1px solid #777; /* Adjust color as needed */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .header,
    .about-header {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .nav-buttons {
        flex-direction: column;
        align-items: center;
    }

    .nav-button {
        margin: 5px;
    }

    form {
        max-width: 80%;
        margin-bottom: 0px; /* Adjust margin-bottom for the form */
    }

    .buttons-container {
        margin-top: 150px; /* Adjust the margin-top value for the buttons container */
    }

    .website-buttons, .active-button {
        display: inline-block;
        padding: 15px 30px; /* Increase padding for bigger buttons */
        text-decoration: none;
        background-color: #333;
        color: white;
        border: 1px solid #333;
        border-radius: 5px;
        margin: 5px;
    }

    .active-button {
        background-color: #777;
        border: 1px solid #777;
    }
}
